############################
# Node.js
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Vite
############################
dist/
.vite/

############################
# Variáveis de ambiente
############################
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

############################
# Cache / ferramentas
############################
.eslintcache
.cache/
.parcel-cache/

############################
# Testes
############################
coverage/

############################
# IDEs / Editores
############################
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

############################
# Sistema Operacional
############################
.DS_Store
Thumbs.db
desktop.ini

############################
# Logs gerais
############################
*.log